$lightPurple: #e7aeff;
$purple: #8d00a0;

.app {
    display: flex;
    justify-content: center;
    .container {
        width: 1024px;

        .link{
            text-decoration: none;
            color: inherit;
        }
        //Login and Register
        .auth {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;

            h1 {
                font-size: 20px;
                color: $purple;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 20px;
                border-radius: 3px;
                width: 300px;
                
                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                }

                button {
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                    background-color: $purple;
                    color: white;
                    border-radius: 3px;
                }

                p {
                    font-size: 12px;
                    color: red;
                }
                span {
                    font-size: 12px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        //Nabar
        .navbar {

            .container {
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;


                .logo {
                    font-size: 32px;
                    font-weight: 600;
                    cursor: pointer;
                    font-family: 'Odibee Sans', cursive;
                    color: $purple;
                }

                .links {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    h6 {
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span {
                        cursor: pointer;
                    }
                    
                    .username {
                        margin-left: 20px;
                        color: $purple;
                        font-weight: 500;    
                    }

                    .username::first-letter {
                        text-transform: uppercase;
                    }

                    .login-logout {
                        &:hover {
                            transform: scale(1.1);
                            transition: transform 0.2s ease-out;
                        }
                    }
                      

                    .write {
                        background-color: $lightPurple;
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 300;
                        border: 1px solid $lightPurple;


                        &:hover {
                            color: $purple;
                            background-color: white;
                            border: 1px solid $lightPurple;
                            transition: all ease 0.2s;
                        }
                    }
        
                }
            }
        }

        //Footer
        footer {
            margin-top: 100px;
            background-color: $lightPurple;
            padding: 20px;

            .footer-text {
                font-size: 12px;
                text-align: center;
            }
        }

        //Home
        .home {

            .posts {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;

                .post {
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n+1) {
                        flex-direction: row-reverse;
                    }

                    .image {
                        flex: 2;
                        position: relative;
                        border-radius: 3px;

                        &::after {
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-color: $lightPurple;
                            position: absolute;
                            top: -15px;
                            left: -15px;
                            z-index: -1;
                            border-radius: 3px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 3px;

                        }

                    }

                    .content {
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        
                        h1 {
                            font-size: 48px;
                        }

                        p {
                            font-size: 18px;
                        }

                        button {
                            width: max-content;
                            border: none;
                            cursor: pointer;
                            padding: 10px 20px;
                            color: $purple;
                            background-color: white;
                            border: 1px solid $purple;
                            border-radius: 3px;

                            &:hover {
                                background-color: $purple;
                                color: white;
                                transition: all ease 0.2s;
                            }
                        }
                    }
                }
            }
        }

        //Single
        .single {
            display: flex;
            gap: 50px;
            margin-top: 50px;

            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 30px;
                
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 3px;
                }
                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50px;
                        object-fit: cover;
                    }

                    span {
                        font-weight: bold;
                    }
                }

                .edit {
                    display: flex;
                    gap: 5px;

                    span {
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        border-radius: 50px;
                    }

                    .edit-icon {
                        background-color: $purple ;
                    }

                    .delete-icon {
                        background-color: #f86262 ;
                    }
                }

                h1 {
                    font-size: 42px;
                    color: #333;
                }

                .post-details {
                    text-align: justify;
                    line-height: 30px;
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 25px;
                
                h1 {
                    font-size: 20px;
                    color: #555;
                    padding-top: 0px;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 3px;
                    }

                    h2 {
                        color: #555;
                    }

                    button {
                        border: none;
                        cursor: pointer;
                        padding: 7px 14px;
                        color: $purple;
                        background-color: white;
                        border: 1px solid $purple;
                        border-radius: 3px;

                        &:hover {
                            background-color: $purple;
                            color: white;
                            transition: all ease 0.2s;
                        }
                    }
                }
            }
        }

        //Write
        .add-post {
            margin-top: 50px;
            display: flex;
            gap: 20px;
            
            .content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;

                input {
                    padding: 10px;
                    border: 1px solid lightgray;
                }

                .editor-container {
                   height: 300px;
                   
                    .editor {
                        height: calc(100% - 41px);
                    }
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;

                    h1 {
                        font-size: 20px;     
                    }

                    .file {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons {
                       display: flex;
                       justify-content: space-between;
                       
                       :first-child {
                        cursor: pointer;
                        color: $purple;
                        background-color: white;
                        border: 1px solid $purple;
                        padding: 3px 5px;
                        border-radius: 3px;

                       }

                       :last-child {
                        cursor: pointer;
                        color: white;
                        background-color: $purple ;
                        border: 1px solid $purple;
                        padding: 3px 5px;
                        border-radius: 3px;
                       }
                    }

                    .cat {
                        display: flex;
                        gap: 5px;
                        color: $purple;
                    }
                }
            }
        }
    }
}